# Basics of Pandas

### Pandas Series

Pandas manage something very similar as an array called pandas series

Pandas Series: Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index.  

Reference: https://www.geeksforgeeks.org/python-pandas-series/#:~:text=Pandas%20Series%20is%20a%20one,must%20be%20a%20hashable%20type.

The difference between a numpy array is that pandas series adds an index, if an index is not input, pandas applies an automatic index starting from 0

In [7]:
import numpy as np
import pandas as pd

arr1 = [1,2,3,4,5]
arr1 = pd.Series(arr1)

print("Pandas prints the series, and adds an automatic indexing",arr1)

arr2 = pd.Series([1,2,3,4,5],index=[5,4,3,2,1])
print("Establishing an index", arr2)


#You can create a pandas data series from a python dictionary

arr3 = {1:"X", 2:"Y", 3:"Z"}
arr3 = pd.Series(arr3)

print(arr3)

Pandas prints the series, and adds an automatic indexing 0    1
1    2
2    3
3    4
4    5
dtype: int64
Establishing an index 5    1
4    2
3    3
2    4
1    5
dtype: int64
1    X
2    Y
3    Z
dtype: object

### Pandas Data Frame  

Pandas manage somehting similar of what would be a matrix in numpy

Pandas Data Frame:  is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns).

Reference: https://www.geeksforgeeks.org/python-pandas-dataframe/

In [13]:
#Creating a pandas data frame from python dictionary
import numpy as np
import pandas as pd

countries = {
    "Name":["China", "USA", "Japan", "Germany", "United Kingdome"],
    "GDP Millions": [19911593,25346805,4912147,4256540,3376003],
    "Population":[1412600000,332674438,125502000,83222422,67081000]
}


countries = pd.DataFrame(countries,index=[1,2,3,4,5])
print(countries)

              Name  GDP Millions  Population
1            China      19911593  1412600000
2              USA      25346805   332674438
3            Japan       4912147   125502000
4          Germany       4256540    83222422
5  United Kingdome       3376003    67081000

### Reading

How to read files with panda

In [18]:
#Pandas has a lot of option in the read category, it can read from csv, excel, html, json, and more
import pandas as pd

best_sellers = pd.read_csv("bestsellers-with-categories.csv", sep=",", header=0)
print(best_sellers)

best_sellers.columns

                                                  Name  \
0                        10-Day Green Smoothie Cleanse
1                                    11/22/63: A Novel
2              12 Rules for Life: An Antidote to Chaos
3                               1984 (Signet Classics)
4    5,000 Awesome Facts (About Everything!) (Natio...
..                                                 ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)
546  You Are a Badass: How to Stop Doubting Your Gr...
547  You Are a Badass: How to Stop Doubting Your Gr...
548  You Are a Badass: How to Stop Doubting Your Gr...
549  You Are a Badass: How to Stop Doubting Your Gr...

                       Author  User Rating  Reviews  Price  Year        Genre
0                    JJ Smith          4.7    17350      8  2016  Non Fiction
1                Stephen King          4.6     2052     22  2011      Fiction
2          Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3               George Orwell          4.7    21424      6  2017      Fiction
4    National Geographic Kids          4.8     7665     12  2019  Non Fiction
..                        ...          ...      ...    ...   ...          ...
545               Jeff Kinney          4.9     9413      8  2019      Fiction
546               Jen Sincero          4.7    14331      8  2016  Non Fiction
547               Jen Sincero          4.7    14331      8  2017  Non Fiction
548               Jen Sincero          4.7    14331      8  2018  Non Fiction
549               Jen Sincero          4.7    14331      8  2019  Non Fiction

[550 rows x 7 columns]

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [25]:
#Reading json file

HPCharacters = pd.read_json("hpcharactersdataraw_3d934e85-dfa4-42ec-8520-fadfbecae574.json")
#columns function shows only the columns(titles if exist), and info function
print(HPCharacters.columns)
print(HPCharacters.info)

#slicing works the same as numpy
print(HPCharacters[0:5])

Index(['Name', 'Link', 'Descr', 'Gender', 'Species/Race', 'Blood', 'School',
       'Profession'],
      dtype='object')
<bound method DataFrame.info of                       Name                                               Link  \
0              Mrs. Abbott  https://www.hp-lexicon.org/character/abbott-fa...
1            Hannah Abbott  https://www.hp-lexicon.org/character/abbott-fa...
2            Abel Treetops  https://www.hp-lexicon.org/character/abel-tree...
3         Euan Abercrombie  https://www.hp-lexicon.org/character/abercromb...
4     Aberforth Dumbledore  https://www.hp-lexicon.org/character/dumbledor...
...                    ...                                                ...
1935        Georgi Zdravko  https://www.hp-lexicon.org/character/georgi-zd...
1936                Zograf       https://www.hp-lexicon.org/character/zograf/
1937                 Zonko        https://www.hp-lexicon.org/character/zonko/
1938     Valentina Vázquez  https://www.hp-lexicon.org/character/valentina...
1939         Zygmunt Budge  https://www.hp-lexicon.org/character/zygmunt-b...

                                                  Descr  Gender Species/Race  \
0     Mrs. Abbott was the mother of Hannah Abbott, a...  Female        Witch
1     Hannah Abbott is a Hufflepuff student in Harry...  Female        Witch
2     Abel Treetops was a wizard from Cincinnati who...    Male       Wizard
3     Euan Abercrombie was a small boy with prominen...    Male       Wizard
4     Aberforth Dumbledore was a tall, thin, grumpy-...    Male       Wizard
...                                                 ...     ...          ...
1935  Georgi Zdravko played Keeper for the Bulgarian...    Male       Wizard
1936  Zograf played Keeper for the Bulgarian Nationa...     NaN       Wizard
1937  Founder(?) of Zonko’s Joke Shop. Possibly a re...     NaN      Unknown
1938  Valentina Vázquez was President of the Argenti...  Female        Witch
1939  Zygmunt Budge is considered to be one of the m...    Male       Wizard

            Blood                 School  \
0     Muggle-born                Unknown
1      Half-blood  Hogwarts - Hufflepuff
2         Unknown                Unknown
3         Unknown  Hogwarts - Gryffindor
4      Half-blood     Hogwarts - Student
...           ...                    ...
1935      Unknown                Unknown
1936      Unknown                Unknown
1937      Unknown                Unknown
1938      Unknown                Unknown
1939      Unknown     Hogwarts - Student

                                         Profession
0                                           Unknown
1                    Landlady of the Leaky Cauldron
2                                           Unknown
3                                           Unknown
4                                            Barman
...                                             ...
1935                      Quidditch player (Seeker)
1936                      Quidditch player (Keeper)
1937                                        Unknown
1938  President of the Argentinian Council of Magic
1939    Potions Master, Potioneer, Inventor, Author

[1940 rows x 8 columns]>
                   Name                                               Link  \
0           Mrs. Abbott  https://www.hp-lexicon.org/character/abbott-fa...
1         Hannah Abbott  https://www.hp-lexicon.org/character/abbott-fa...
2         Abel Treetops  https://www.hp-lexicon.org/character/abel-tree...
3      Euan Abercrombie  https://www.hp-lexicon.org/character/abercromb...
4  Aberforth Dumbledore  https://www.hp-lexicon.org/character/dumbledor...

                                               Descr  Gender Species/Race  \
0  Mrs. Abbott was the mother of Hannah Abbott, a...  Female        Witch
1  Hannah Abbott is a Hufflepuff student in Harry...  Female        Witch
2  Abel Treetops was a wizard from Cincinnati who...    Male       Wizard
3  Euan Abercrombie was a small boy with prominen...    Male       Wizard
4  Aberforth Dumbledore was a tall, thin, grumpy-...    Male       Wizard

         Blood                 School                      Profession
0  Muggle-born                Unknown                         Unknown
1   Half-blood  Hogwarts - Hufflepuff  Landlady of the Leaky Cauldron
2      Unknown                Unknown                         Unknown
3      Unknown  Hogwarts - Gryffindor                         Unknown
4   Half-blood     Hogwarts - Student                          Barman
0                Mrs. Abbott
1              Hannah Abbott
2              Abel Treetops
3           Euan Abercrombie
4       Aberforth Dumbledore
                ...
1935          Georgi Zdravko
1936                  Zograf
1937                   Zonko
1938       Valentina Vázquez
1939           Zygmunt Budge
Name: Name, Length: 1940, dtype: object

In [45]:
import pandas as pd

#Sorting
HPCharacters = pd.read_json("hpcharactersdataraw_3d934e85-dfa4-42ec-8520-fadfbecae574.json")
print(HPCharacters[["Name", "Gender", "School"]])
print(HPCharacters.columns)

#If we want to sort rows and colums at the same time we use the loc function
print(HPCharacters.loc[0:4, ["Name"]])

#The iloc function is very similar to loc, instead one sorts by the index of the columns
print(HPCharacters.iloc[0:2])

                      Name  Gender                 School
0              Mrs. Abbott  Female                Unknown
1            Hannah Abbott  Female  Hogwarts - Hufflepuff
2            Abel Treetops    Male                Unknown
3         Euan Abercrombie    Male  Hogwarts - Gryffindor
4     Aberforth Dumbledore    Male     Hogwarts - Student
...                    ...     ...                    ...
1935        Georgi Zdravko    Male                Unknown
1936                Zograf     NaN                Unknown
1937                 Zonko     NaN                Unknown
1938     Valentina Vázquez  Female                Unknown
1939         Zygmunt Budge    Male     Hogwarts - Student

[1940 rows x 3 columns]
Index(['Name', 'Link', 'Descr', 'Gender', 'Species/Race', 'Blood', 'School',
       'Profession'],
      dtype='object')
                   Name
0           Mrs. Abbott
1         Hannah Abbott
2         Abel Treetops
3      Euan Abercrombie
4  Aberforth Dumbledore
            Name                                               Link  \
0    Mrs. Abbott  https://www.hp-lexicon.org/character/abbott-fa...
1  Hannah Abbott  https://www.hp-lexicon.org/character/abbott-fa...

                                               Descr  Gender Species/Race  \
0  Mrs. Abbott was the mother of Hannah Abbott, a...  Female        Witch
1  Hannah Abbott is a Hufflepuff student in Harry...  Female        Witch

         Blood                 School                      Profession
0  Muggle-born                Unknown                         Unknown
1   Half-blood  Hogwarts - Hufflepuff  Landlady of the Leaky Cauldron

In [57]:
import pandas as pd

best_sellers = pd.read_csv("bestsellers-with-categories.csv", sep=",", header=0)
best_sellers2 = best_sellers

# Erasing the User Rating Column
best_sellers2.drop("User Rating", axis=1)

,Name,Author,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,7665,12,2019,Non Fiction
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,14331,8,2019,Non Fiction

In [60]:
import pandas as pd
import numpy as np

best_sellers = pd.read_csv("bestsellers-with-categories.csv", sep=",", header=0)
best_sellers2 = best_sellers

#Erasing the 10-day green book row
best_sellers2.drop(0, axis=0)

#the drop function doesn´t erase permanently, to do so we run the next code
best_sellers2.drop(0, axis=0, inplace=True)
best_sellers2.drop("Reviews", axis=1, inplace=True)


#Adding a column
best_sellers2["Pages"] = np.nan
print(best_sellers2)

                                                  Name  \
1                                    11/22/63: A Novel
2              12 Rules for Life: An Antidote to Chaos
3                               1984 (Signet Classics)
4    5,000 Awesome Facts (About Everything!) (Natio...
5        A Dance with Dragons (A Song of Ice and Fire)
..                                                 ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)
546  You Are a Badass: How to Stop Doubting Your Gr...
547  You Are a Badass: How to Stop Doubting Your Gr...
548  You Are a Badass: How to Stop Doubting Your Gr...
549  You Are a Badass: How to Stop Doubting Your Gr...

                       Author  User Rating  Price  Year        Genre  Pages
1                Stephen King          4.6     22  2011      Fiction    NaN
2          Jordan B. Peterson          4.7     15  2018  Non Fiction    NaN
3               George Orwell          4.7      6  2017      Fiction    NaN
4    National Geographic Kids          4.8     12  2019  Non Fiction    NaN
5         George R. R. Martin          4.4     11  2011      Fiction    NaN
..                        ...          ...    ...   ...          ...    ...
545               Jeff Kinney          4.9      8  2019      Fiction    NaN
546               Jen Sincero          4.7      8  2016  Non Fiction    NaN
547               Jen Sincero          4.7      8  2017  Non Fiction    NaN
548               Jen Sincero          4.7      8  2018  Non Fiction    NaN
549               Jen Sincero          4.7      8  2019  Non Fiction    NaN

[549 rows x 7 columns]

In [62]:
#To add rows we use the function append
import pandas as pd
import numpy as np

best_sellers = pd.read_csv("bestsellers-with-categories.csv", sep=",", header=0)
best_sellers2 = best_sellers

best_sellers2.append(best_sellers)

/tmp/ipykernel_337/2975872637.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  best_sellers2.append(best_sellers)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

### Dealing with empty, null or NotaNumber data

In [80]:
import numpy as np
import pandas as pd

df1 = [["x","y","z"],[9,72,np.nan], [46,np.nan,23], ["a",32,np.nan]]
df1 = pd.DataFrame(arr1)

#the function .isnull is used to verified if there is a null number
df1.isnull()

#or we can use that function but instead of using booleans we use 0 and 1 (0=False, 1=True)
df1.isnull()*1

#we can replace the null data with anything we want, like a string
df1.fillna("Empty")

#other options is to replace it with statistical numbers, like the mean, mode, or median (If you only have numbers)
df1.fillna(df1.mean())

#ohter option is to tell pandas to try to fill it according with the series
df1.interpolate

#And the most used option, is to erase the null data
df1.dropna()

/tmp/ipykernel_337/677349320.py:17: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.fillna(df1.mean())

   0  1  2
0  x  y  z

### Sorting and Conditions

In [91]:
import numpy as np
import pandas as pd

best_sellers = pd.read_csv("bestsellers-with-categories.csv", sep=",", header=0)

#If we apply directly a conditional, pandas return booleans
best_sellers["User Rating"] > 4.7

#There are 2 ways to return the series with the conditional
#Saving the conditional into a variable, and running trough the series
best_sellers_high_review = best_sellers["User Rating"] > 4.7
best_sellers[best_sellers_high_review]

#and running the conditional inside brackets
best_sellers[best_sellers["User Rating"] > 4.7]

#2 or more conditionals
best_sellers_recent_years = best_sellers["Year"] > 2016

best_sellers[best_sellers_high_review & best_sellers_recent_years]

#If we are looking to do the inverse conditional we apply the tilde
best_sellers[~best_sellers_high_review]

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
...,...,...,...,...,...,...,...
539,Women Food and God: An Unexpected Path to Almo...,Geneen Roth,4.2,1302,11,2010,Non Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

### Main Functions

* **pd.info()** = This method prints information about a DataFrame including the index dtype and columns, non-null values and memory usage. 
* **pd.describe()** = Generate descriptive statistics.  
* **pd.memory_usage()** = Return the memory usage of each column in bytes.  
* **pd.value_counts()** = Counts every data point in a specific column
* **pd.drop_duplicates()** = Erases the duplicates values
* **pd.sort_values()** = Sort by the values along either axis.

In [101]:
import numpy as np
import pandas as pd

best_sellers = pd.read_csv("bestsellers-with-categories.csv", sep=",", header=0)

#We can get the metadata from a dataframe from info function
best_sellers.info()

#describre functions prints statistics about the dataframe
best_sellers.describe()

#memory_usage function shows how much memory is each column using
best_sellers.memory_usage()

#value_counts displays the count of every data point in a specific column
best_sellers.value_counts("Reviews")

#Erases duplicate values, ypu can specify exact duplicates, or just a value duplicate in a row
best_sellers.drop_duplicates("Name")

#sort values among an axis
best_sellers.sort_values("User Rating", ascending=False)

#show the top 5 user rating books
top_best_sellers = best_sellers.sort_values("User Rating", ascending=False)
top_best_sellers.drop_duplicates("Name").head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

TypeError: '<=' not supported between instances of 'int' and 'numpy.str_'

### Groupby

The groupby function is very simple, but at the same time very diverse

* **pd.groupby()** = A groupby operation involves some combination of splitting the object, applying a function, and combining the results.

In [35]:
import numpy as np
import pandas as pd

best_sellers = pd.read_csv("bestsellers-with-categories.csv", sep=",", header=0)

#Grouping by gernre, it gives the count of fiction and non-fiction books of every column
best_sellers.groupby("Genre").count()

#We can use the same coding line but use the mean insted of count
best_sellers.groupby("Genre").mean()

#Or sum
best_sellers.groupby("Genre").sum()

#And use both functions combined, groupby and loc, it return you the specific index you selected
best_sellers.groupby("Genre").mean().loc["Fiction"]

#the groupby function can be added the function aggregate agg(), where you specify what operation you want
best_sellers.groupby("Genre").agg(["min", "max"])

#And using aggregate, you can ask for an specific column
best_sellers.groupby("Genre").agg({"User Rating":"mean", "Reviews":"mean"})

             User Rating       Reviews
Genre
Fiction         4.648333  15683.791667
Non Fiction     4.595161   9065.145161

### Merge, Concat, and Join

These functions works to add information into one single dataframe, and they got their differences

* **pd.concat()** = Concatenate pandas objects along a particular axis with optional set logic along the other axes.
* **pd.merge()** = Merge DataFrame or named Series objects with a database-style join.
* **pd.join()** = Join columns of another DataFrame.

In [75]:
import numpy as np
import pandas as pd

df1 = {
    "A":["A0", "A1","A2","A3"],
    "B":["B0", "B1","B2","B3"],
    "C":["C0", "C1","C2","C3"],
    "D":["D0", "D1","D2","D3"]
}

df2 = {
    "A":["A4", "A5","A6","A7"],
    "B":["B4", "B5","B6","B7"],
    "C":["C4", "C5","C6","C7"],
    "D":["D4", "D5","D6","D7"]
}

df3 = {
    "D":["D0", "D1","D2","D3"],
    "E":["E0", "E1","E2","E3"],
    "F":["F0", "F1","F2","F3"],
    "G":["G0", "G1","G2","G3"]
}




df1 = pd.DataFrame(df1)
df2 = pd.DataFrame(df2)
df3 = pd.DataFrame(df3)


#We use concat when we have additional data about the same column, we add rows
#PD the concatanated dataframe inherits the index, so possibly you´ll have to reorder, use ignore_index = True
pd.concat([df1,df2], ignore_index=True)

#merge, we use it when in the same row, we add columns. We have a shared column that is D, which will be the merger
df3.merge(df1, on="D")
df1.merge(df3, on="D")

    A   B   C   D   E   F   G
0  A0  B0  C0  D0  E0  F0  G0
1  A1  B1  C1  D1  E1  F1  G1
2  A2  B2  C2  D2  E2  F2  G2
3  A3  B3  C3  D3  E3  F3  G3

### Pivot & Melt

* **pd.pivot()** = Return reshaped DataFrame organized by given index / column values.
* **pd.melt()** = Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.

In [81]:
import numpy as np
import pandas as pd

best_sellers = pd.read_csv("bestsellers-with-categories.csv", sep=",", header=0)
best_sellers.pivot_table(index="Genre", columns="Year", values="User Rating")

Year,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Genre,,,,,,,,,,,
Fiction,4.591667,4.615,4.619048,4.495238,4.545833,4.631034,4.652941,4.715789,4.737500,4.738095,4.820000
Non Fiction,4.576923,4.520,4.513793,4.558621,4.561538,4.609524,4.645455,4.654839,4.588462,4.617241,4.686667

In [85]:
#Using melt function
import numpy as np
import pandas as pd

best_sellers = pd.read_csv("bestsellers-with-categories.csv", sep=",", header=0)
best_sellers.head(3).melt("Name")

                                       Name     variable               value
0             10-Day Green Smoothie Cleanse       Author            JJ Smith
1                         11/22/63: A Novel       Author        Stephen King
2   12 Rules for Life: An Antidote to Chaos       Author  Jordan B. Peterson
3             10-Day Green Smoothie Cleanse  User Rating                 4.7
4                         11/22/63: A Novel  User Rating                 4.6
5   12 Rules for Life: An Antidote to Chaos  User Rating                 4.7
6             10-Day Green Smoothie Cleanse      Reviews               17350
7                         11/22/63: A Novel      Reviews                2052
8   12 Rules for Life: An Antidote to Chaos      Reviews               18979
9             10-Day Green Smoothie Cleanse        Price                   8
10                        11/22/63: A Novel        Price                  22
11  12 Rules for Life: An Antidote to Chaos        Price                  15
12            10-Day Green Smoothie Cleanse         Year                2016
13                        11/22/63: A Novel         Year                2011
14  12 Rules for Life: An Antidote to Chaos         Year                2018
15            10-Day Green Smoothie Cleanse        Genre         Non Fiction
16                        11/22/63: A Novel        Genre             Fiction
17  12 Rules for Life: An Antidote to Chaos        Genre         Non Fiction

### Apply

* **pd.apply()** = Apply a function along an axis of the DataFrame.

In [98]:
#Use any pyhto function in an axis of a pandas dataframe
import numpy as np
import pandas as pd

best_sellers = pd.read_csv("bestsellers-with-categories.csv", sep=",", header=0)

#We create the function from where we will do the apply function
def times_two(value):
    return value * 2

#We specify the data set(axis, and row or column), and we pass the function trough the apply function
years_times_two = best_sellers["Year"].apply(times_two)

#We add the colum years_times_two
best_sellers["years_times_two"] = years_times_two

best_sellers

,Name,Author,User Rating,Reviews,Price,Year,Genre,years_times_two
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,4032
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,4022
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,4036
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,4034
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,4038
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,4038
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,4032
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,4034
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,4036
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,4038